@import "client/src/styles/fonts";

.primaryButton {
  @include text(500);
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 0.1vw;
  padding: 0.2vw 0.8vw 0.2vw 0.8vw;

  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(59, 39, 21, 0.7);
    cursor: auto;
  }
}

.secondaryButton {
  @include text(500);
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: 0.15vw solid rgba(255, 255, 255, 0.4);
  border-radius: 0.1vw;
  padding: 0.2vw 0.8vw 0.2vw 0.8vw;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  &:disabled {
    background-color: transparent;
    border: 0.15vw solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.4);
    cursor: auto;
  }
}
