@import "client/src/app/styles/fonts";

.body {
  text-align: right;
  margin-left: 6vw;
}

.title {
  display: flex;
  margin-bottom: 0.3vw;
  margin-left: 1vw;
}

.coinImage {
  width: 1.3vw;
  height: 1.3vw;
  margin: 0 0.3vw 0 0;

  @media (max-width: 1440px) {
    width: 1.5vw;
    height: 1.5vw;
  }
  @media (max-width: 1280px) {
    width: 1.8vw;
    height: 1.8vw;
  }
  @media (max-width: 1024px) {
    width: 2.2vw;
    height: 2.2vw;
  }
  @media (max-width: 768px) {
    width: 3.7vw;
    height: 3.7vw;
  }
}

.coinName {
  @include text(500);
}

.coinSymbol {
  @include textSmall(600);
  color: rgba(59, 39, 21, 0.8);
  margin-left: 0.2vw;
}

.coinPrice {
  @include text(600);
}
